# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: "2022 smdn <smdn@smdn.jp>"

name: Publish release target
run-name: Publish release target ${{ github.head_ref }}

permissions:
  contents: write
  packages: write
  pull-requests: read

on:
  pull_request:
    types: [closed]

jobs:
  run-publish-release-target:
    uses: smdn/workflows-dotnet/.github/workflows/publish-release-target.yml@release-target/v1.14.1
    if: |
      (github.event.pull_request.merged == true && startsWith(github.head_ref, 'releases/')) &&
      (contains(github.event.pull_request.labels.*.name, 'release-target'))
    with:
      pr_number_request_for_release: ${{ github.event.pull_request.number }}
      pr_label_request_for_release:  'release-target'
      workflow_runs_on:              'ubuntu-24.04'
      dotnet_sdk_version:            '10.0.100'
    secrets:
      token_repo:                 ${{ secrets.PUBLISH_NEW_RELEASE }}
      token_push_nuget_org:       ${{ secrets.PUBLISH_PACKAGE_NUGETORG }}
      token_push_github_packages: ${{ secrets.PUBLISH_NEW_RELEASE }}
